.App {
  text-align: center;
}

.headerImgDiv {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("./sw-bg.jpg");
  top: 0;
  left: 0;

}
.content {
  background: rgb(241, 241, 241);
  position: relative;
  margin-top: 200px;
  top: 25%;
}

.ui.grid {
  margin: 200px 0 0 30px!important;
}
/* write your parent styles in here for your App.js */
